<h1>This app doesn't display anything</h1>
<p>Try logging into the heroku rails console and running:</p>
<p>rake example:example_usage</p>
<p>This will run some R code that will generate some data and store it in the database</p>