
<p>Try logging into the heroku rails console and running:</p>
<p>rake lambo (locally) or heroku run rake lambo (on heroku)</p>
<p>This will run some R code that will generate some data and store it in the database, resulting in additional rows of data</p>

<p>Database currently contains <%= @rows %> rows (click refresh after running rake task to update)</p>